@import "tailwindcss";


body, html {
    background-color: rgba(213, 212, 212, 0.096);
    scroll-behavior: smooth;
    font-family: "Outfit", sans-serif;
}

input[type="date"]::-webkit-datetime-edit {
    text-align: center;
}